/**
 *  scrumplex.net clicklet
 *  Copyright (C) 2021 Sefa Eyeoglu <contact@scrumplex.net> (https://scrumplex.net)
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 */

$transitionHover: 300ms cubic-bezier(0.19, 1, 0.22, 1);
$transitionOpenPrimary: 500ms cubic-bezier(0.19, 1, 0.22, 1); // easeOutExpo
$transitionOpenSecondary: 400ms cubic-bezier(0.19, 1, 0.22, 1); // easeOutExpo

$boxWidth: 350px;
$boxWidthAlt: 100vw;
$boxPadding: 10px;

$brandColor: #d63333;

.clicklet, .clicklet * {
    box-sizing: border-box;
}

.clicklet {
    font-family: "Roboto", "Helvetica Neue", "Segoe UI", "Verdana", "Arial", sans-serif;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 20px;
    z-index: 100000;
    transform: translateY(50%);
    transition: transform $transitionOpenPrimary, bottom $transitionOpenPrimary, right $transitionOpenPrimary;
}

.clicklet.left {
    right: unset;
    left: 0;
    transition: transform $transitionOpenPrimary, bottom $transitionOpenPrimary, right $transitionOpenPrimary, left $transitionOpenPrimary;
}

.clicklet:hover {
    transform: translateY(10px); // 10px above window border
    transition: transform $transitionHover, bottom $transitionOpenPrimary, right $transitionOpenPrimary, left $transitionOpenPrimary;
}

.clicklet > .clicklet-bg {
    width: 75px;
    max-height: 75px;
    border-radius: 37.5px;
    overflow: hidden;
    text-align: center;
    background-color: $brandColor;
    box-shadow: 0 5px 36px transparentize($brandColor, 0.3);
    transition: width $transitionOpenPrimary, max-height $transitionOpenPrimary,
    padding $transitionOpenPrimary, border-radius $transitionOpenSecondary;

    animation: pulse 3s 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.clicklet > .clicklet-bg > .clicklet-logo {
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 75px;
    background-image: url(logo.svg);
    transition: box-shadow $transitionOpenPrimary;
}

.clicklet > .clicklet-bg > .clicklet-text {
    width: $boxWidth - 2 * $boxPadding;
    color: #fff;
    opacity: 0;
    transform: translateY(100%);
    transition: margin $transitionOpenPrimary, opacity $transitionOpenPrimary, transform $transitionOpenPrimary;

    @media screen and (max-width: 350px) {
        width: auto;
    }
}

.clicklet.open {
    bottom: 50%;
    right: 50%;
    cursor: pointer;
    transform: translate(50%, 50%);
}

.clicklet.left.open {
    right: unset;
    left: 50%;
    transform: translate(-50%, 50%);
}

.clicklet.open > .clicklet-bg {
    width: $boxWidth;
    max-height: 500px;
    padding: $boxPadding;
    border-radius: 10px;
    @media screen and (max-width: 350px) {
        width: $boxWidthAlt;
    }
}

.clicklet.open > .clicklet-bg > .clicklet-logo {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.clicklet.open > .clicklet-bg > .clicklet-text {
    margin-top: 10px;
    opacity: 1;
    transform: translateY(0);
}

@keyframes pulse {
    0% {
        box-shadow: 0 5px 36px transparentize($brandColor, 0.3);
    }

    30% {
        box-shadow: 0 7px 36px 4px transparentize($brandColor, 0.3); //  spread +4px
    }

    100% {
        box-shadow: 0 5px 36px transparentize($brandColor, 0.3);
    }
}